@import "{{ site.theme }}";

img.dp {
    max-width: 5px;
    max-height: 5px;
    /* border-radius: 50%; */
}

.fa {  
    padding: 20px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
}  
.fa-linkedin {  
    background: #007bb5;  
    color: white;  
}  
.fa-instagram {  
    background: #125688;  
    color: white;  
}  
.fa-skype {  
    background: #00aff0;  
    color: white;  
}  
.fa:hover {  
    opacity: 0.9;  
}  